{{ define "index" }}
<html>
  <head>
    <title>rasterd</title>
    <link rel="stylesheet" href="/css/rasterd.css" />    
    <link rel="stylesheet" href="/css/leaflet.css" />
    <script src="/javascript/leaflet.js"></script>
    <script src="/javascript/leaflet-hash.js"></script>    

    <style type="text/css">
     {{ if .Debug }}
     .leaflet-tile { border: dashed red 1px !important; }
     {{ end }}
    </style>
  </head>
  
  <body>
    <div id="map"></div>
    
    <script>
      var api_key = '{{ .NextzenAPIKey }}';
      var format = '{{ .TileFormat }}';

      var map = L.map('map').setView([37.613858, -122.37366], 15);
      var layer = L.tileLayer('http://localhost:8080/' + format + '/{z}/{x}/{y}.' + format + '?api_key=' + api_key, {maxZoom: 22});

      layer.addTo(map);

     var hash = new L.Hash(map);
     
    </script>
    
  </body>
</html>
{{ end }} 
